{{ include('_shared/header.php') }}

{{ include('_shared/navbar.php') }}

<br>
<h1>SubTask</h1>
<hr>

<div class="row">
    <div class="col-sm">
        <h3>Index</h3>
    </div>
    <div class="col-sm-2">
        <a href="?controller=subTask&action=create" class="btn btn-success">Create a new subTask</a>
    </div>
</div>

<br><br>

<div class="row">
    <div class="col-sm">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Edit</th>
                    <th scope="col">View</th>
                </tr>
            </thead>

            <tbody>
                {% if subTasks is empty %}
                    <tr>
                        <th><p><i>No subTasks created yet.</i></p></th>
                    </tr>
                {% endif %}

                {% for item in subTasks %}
                    <tr>
                        <th>{{ item.id }}</th>
                        <th>{{ item.name }}</th>
                        <th>{{ item.description }}</th>
                        <th>
                            <a href="?controller=task&action=edit&id={{ item.id }}" class="btn btn-primary">Edit</a>
                        </th>
                        <th>
                            <a href="?controller=task&action=read&id={{ item.id }}" class="btn btn-secondary">View</a>
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{{ include('_shared/footer.php') }}