{{ include('_shared/header.php') }}

{{ include('_shared/navbar.php') }}

<h4>Team Creation Form</h4>
<form action='?controller=Team&action=save' method='post'>
    <div class="card-body" style="text-align: center;">
        <div class="form-group">
            <label for="teamName">Team name : </label>
            <input type="text" name="name" class="form-control" placeholder="Enter team name"/>
        </div>
        <div class="form-group">
            <label for="TeamLeaderSelection">Please select the team leader :</label><br>
            <select name="leader" size="1">
                {% for member in members %}
                    <option value="{{member.getID()  }}">{{  member.getLogin() }}</option>
                {%  endfor %}
                ?>
            </select>
        </div>
        <div class="form-group container h-50 card bg-light mb-3">
            <div class="card-header text-center">
                Team Members :
                <div class=" btn-group">

                    <select name="members[]" multiple size="{{ members|length }}">
                        {%    for member in members%}
                            <option value="{{member.getID()  }}">{{  member.getLogin() }} </option>
                        {%  endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group container h-50 card bg-light mb-3">
            <div class="card-header text-center">
                Team Tasks :
                <div class=" btn-group">

                    <select name="tasks[]" multiple size="{{ tasks|length }}">
                        {%  for task in tasks %}
                            echo <option value="{{ task.getID() }}">{{ task.getName() }}</option>
                        {%  endfor %}
                    </select>
                </div>
            </div>
        </div>
        <input type="submit" value="Create Team" name="createNewTeam" class="btn btn-sm btn-secondary"/>
    </div>
</form>
<a href="index.php" class="btn btn-sm btn-secondary" name="Cancel Team Creation" role="button">Cancel
    Creation</a>
</div>
</div>
{{ include('_shared/footer.php') }}
