<!-- Fatal error: Uncaught Twig_Error_Loader: Looks like you try to load a template outside configured directories (../_shared/header.php) -->

{{ include('_shared/header.php') }}

{{ include('_shared/navbar.php') }}

<br>
<h1>Task</h1>
<hr>
<h3>Create</h3>

<form method="POST" action="?controller=task&action=save">
    <input type="text" hidden name="id" value="0">
    <div class="form-group">
        <label for="taskName">Name:</label>
        <input type="text" class="form-control" placeholder="Name" name="name" required>
    </div>
    <div class="form-group">
        <label for="taskPriority">Priority:</label>
        <input type="text" class="form-control" placeholder="Priority" name="priority" required>
    </div>
    <div class="form-group">
        <label for="taskDescription">Description:</label>
        <input type="text" class="form-control" placeholder="description" name="description" required>
    </div>
    <div class="form-group">
        <label for="taskStatus">Status:</label>
        <select name="status" id="taskStatus" class=form-control">
            <option value="{{ constant('app\\models\\Entity\\TaskStatus::PENDING') }}">
                {{ constant('app\\models\\Entity\\TaskStatus::PENDING') }}
            </option>
            <option value="{{ constant('app\\models\\Entity\\TaskStatus::PLANNED') }}">
                {{ constant('app\\models\\Entity\\TaskStatus::PLANNED') }}
            </option>
            <option value="{{ constant('app\\models\\Entity\\TaskStatus::IN_PROGRESS') }}">
                {{ constant('app\\models\\Entity\\TaskStatus::IN_PROGRESS') }}
            </option>
            <option value="{{ constant('app\\models\\Entity\\TaskStatus::COMPLETED') }}">
                {{ constant('app\\models\\Entity\\TaskStatus::COMPLETED') }}
            </option>
        </select>
    </div>

    <button class="btn btn-primary" type="submit">Create</button>
</form>

{{ include('_shared/footer.php') }}